<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- FontAwsome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <link rel="stylesheet" href="{% static 'music/style.css' %}"/>


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mynav" role="navigation" id='navbar'>
      <a class="navbar-brand" href="{% url 'music:index' %}">HOME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- Lista do lewej -->
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item"><a class="nav-link" href="{% url 'music:index' %}"><span class="fas fa-headphones mr-2" ></span>Albums</a></li>
          <!-- <li class="nav-item"><a class="nav-link" href="#"><span class="fas fa-music mr-2" ></span>Musics</a></a></li> -->
        </ul>
        <form class="form-inline ml-lg-4">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" method="get">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!-- Lista do prawej -->
        <ul class="nav navbar-nav ml-auto">
          {% if user.is_authenticated %}
              <li class="nav-item"><a href="{% url 'music:album-add' %}"  class="nav-link"><span class="fas fa-plus mr-2" ></span>AddAlbum</a></li>
              <li class="nav-item"><a href="{% url 'accounts:logout' %}"  class="nav-link"><span class="fas fa-sign-out-alt mr-2 text-danger" ></span>Log out</a></li>
          {% else %}
              <li class="nav-item"><a href="{% url 'accounts:login' %}"   class="nav-link"><span class="fas fa-user mr-2" ></span>Log in</a></li>
              <li class="nav-item"><a href="{% url 'accounts:signup' %}"  class="nav-link"><span class="fas fa-angle-double-down mr-2" ></span>Sign up</a></li>
          {% endif %}


          <script src="{% static 'music/script.js' %}"></script>
        </ul>
      </div>
    </nav>



      <div class="myContainer m-md-5">
          {% block  content %}

          {% endblock  %}
      </div>

  </body>
</html>
